/* CSS reset */
body {
  background: url('assets/technology-background-5.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
	font-family: 'Cormorant Garamond', serif;
	font-size: 100%;
  
}

.container{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.top-finger{
  background-image: url(assets/top-finger.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 168px;
}

.card{
  height: 400px;
  width: 600px;
  color: aquamarine;
  max-width: calc(100vw - 35px);
	min-height: calc(100vh -300px);
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
  margin-top: -17px;
  margin-left: 10px;
  margin-right: 10px;
	position: relative;
}

.bottom-finger{
  background-image: url(assets/bottom-finger.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 125px;
  
}

.card-head{
  height: 45%;
  width: 100%;
  background-image: url(assets/backgroundcity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}
img{
		position: absolute;
    top: 10px;
    left: 10px;
    margin: 5vh 5vh;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
	  transition: all 0.4s ease-in-out;
}

img:hover {
  transform: scale(1.1);
 }

#card-body{
	width: 100%;
	height: 55%;
	position: relative;
  display: block;
	float: left;
}

.head{
  width: 50%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 10px;
	left: -15px;
}

.contact{
	width: 50%;
	height: 100%;
	text-align: center;
	position: absolute;
	top:px;
	right: 5px;
}

i{
	color: aquamarine;
	font-size: 100%;
	margin: 2px;
}

i:hover{
	transform: scale(2);
}
 

.about{
	text-align:center;
	width: 90%;
	height: 35%;
	position: absolute;
	bottom: 35px;
	left:  25px;
}

.left{
  float: left;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

@media all screen and (max-width:400px){
    .card{
        width: calc(100vw - 30px);
    }
    .top-finger{
        display: none;
    }
    .bottom-finger{
        display: none;
    }
}

